{% extends 'base.html' %}

{% load static %}

{% block title %}
Hotel Imperial - Dashboard
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}


{% block content %}

<div class="container">

    <main class="main-content">
        <h1>Todas as Hospedagens</h1>
        <table>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Check-In</th>
                <th>Check-Out</th>
                <th>Ações</th>
            </tr>
            {% for stay in stays %}
            <tr>
                <td>{{ stay.booking.full_name }}</td>
                <td>{{ stay.booking.cpf }}</td>
                <td>{{ stay.booking.check_in }}</td>
                <td>
                    {% if stay.checkout %}
                    {{ stay.checkout.check_out }}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'stay_details' stay.booking.id %}">Expandir</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>

</div>

{% endblock %}

